$small_mobile:'(max-width: 767px)';
$large_mobile: 'only screen and (min-width: 480px) and (max-width: 767px)';
$tab_device:'only screen and (min-width: 768px) and (max-width: 991px)';
$desktop: '(min-width: 1281px)';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page3-hero-area{
    background-image: url(../img/pg-2-hero-bg.png) !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 400px;
    width: 100%;
    margin-top: 70px;
    @media (max-width: 767px) {
        height: 280px;
        background-image: url(../smart-website/assets/img/pg3-hero.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        width: 100%;
    }
    &__titel{
        padding-top: 100px;
        @media (max-width:767px) {
            padding-top: 0;
        }
        h1{
            color: #FFF;
            text-align: center;
            font-family: Graphik;
            font-size: 56px;
            font-style: normal;
            font-weight: 500;
            line-height: 72px; 
            @media (max-width:767px) {
                color: #FFF;
                text-align: center;
                font-family: Graphik;
                font-size: 40px;
                font-style: normal;
                font-weight: 500;
                line-height: 50px;
                margin-top: 50px !important;
            }
        }
        p{
            color: rgba(255, 255, 255, 0.60);
            text-align: center;
            font-family: Graphik;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px; 
            margin-top: 24px;
            @media (max-width:767px) {
                color: rgba(255, 255, 255, 0.60);
                text-align: center;
                font-family: Graphik;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px; 
                margin-top: 16px !important;
            }
        }
    }
}
.top-area{
    margin-top: 120px;
    @media (min-width: 992px) and (max-width: 1024px) {
            flex-direction: column;
            row-gap: 40px;
        }
        @media #{$tab_device} {
            flex-direction: column;
            row-gap: 40px;
        }
        @media(max-width:425px) {
            flex-direction: column;
            row-gap: 40px;
            margin-top: 31px !important;
        }
        @media (min-width:320px) and (max-width:375px) {
            flex-direction: column;
            row-gap: 40px;
        }
    &__box{
        margin: auto;
        border-radius: 16px;
        border: 1px solid #D9DDE0;
        background: #FFF;
        box-shadow: 0px 44px 88px 0px rgba(26, 17, 44, 0.04);
        padding: 30px 63.5px 42px 65.5px;
        align-items: center;
        width: 400px;
        height: 220px;
        text-align: center;
        @media (min-width:375px) and (max-width:425px) {
            width: 80%;
        }
        @media (min-width:320px) and (max-width:375px) {
            width: 90%;
        }
        h3{
            text-align: center;
            margin-top: 30px;
        }
    }
    &__icon{
        background: #39B54A;
        width: 80px;
        height: 80px;
        text-align: center;
        border-radius: 50%;
        margin: auto;
        img{
            padding: 24px;
        }
    }
}
.midle-area{
    margin-top: 260px;
    @media (max-width: 768px) {
        margin-top: 90px !important;
    }
    @media (max-width: 425px) {
        margin-top: 70px !important;
        width: 100% !important;
    }
    h1{
        color: #0A2540;
        text-align: center;
        font-family: Graphik;
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: 52px; 
        text-transform: capitalize;
        margin: auto;
        @media (max-width: 425px) {
            color: #0A2540;
            text-align: center;
            font-family: Graphik;
            font-size: 32px;
            font-style: normal;
            font-weight: 500;
            line-height: 44px;
            text-transform: capitalize;
            width: 90%;
            margin: auto;
        }
    }
    p{
        margin-top: 24px;
        color: #0A2540;
        text-align: center;
        font-family: Graphik;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px; 
        @media (max-width: 425px) {
            color: #0A2540;
            text-align: center;
            font-family: Graphik;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; 
            width: 90%;
            margin: auto;
            margin-top: 16px;
        }
    }
    .text-line{
        position: absolute;
        &__img1{
        position: relative;
        top: -68px;
        left: 322px;
        @media (min-width: 992px) and (max-width: 1024px) {
            position: relative;
            left: 215px;
        }
        @media #{$tab_device}{
            position: relative;
            left: 149px !important;
        }
        @media (max-width:425px) {
            position: absolute;
            top: -147px;
            left: 163px;
        }
        @media (max-width: 375px) {
            top: -191px;
            left: 170px;
        }
        @media (max-width: 320px) {
            top: -191px;
            left: 142px;
        }
        img{
            width: 130px;
            @media (max-width:425px) {
                width: 120px;
            }
            @media (max-width:320px) {
                width: 120px
            }
        }
        }
        &__img2{
            position: relative;
            top: -94px;
            left: 657px;
            @media (min-width: 992px) and (max-width: 1024px) {
                position: relative;
                left: 551px;
            }
            @media #{$tab_device}{
                position: relative;
                top: -100px;
                left: 487px;
            }
            @media (min-width:375px) and (max-width:425px) {
                top: -102px;
                left: 81px;
            }
            @media (max-width: 375px) {
                left: 132px;
                top: -146px;
            }
            @media (max-width:320px) {
                visibility: visible;
                top: -103px;
                left: -8px;
            }
            img{
                width: 181px;
                @media (max-width:425px) {
                    width: 75%;
                }
                @media (max-width:320px) {
                    width: 75%;
                }
            }
            }
        }
    }
    .bottom-area{
        text-align: center;
        margin-top: 60px;
        @media (max-width:425px) {
            margin-top: 40px;
        }
        &__plan{
            margin-top: 40px;
            text-align: center;
            @media (max-width: 425px) {
                margin-top: 10px;
                color: #39B54A;
                font-family: Graphik;
                font-size: 32px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
            h1{
                color: #39B54A;
                font-family: Graphik;
                font-size: 56px;
                font-style: normal;
                font-weight: 400;
                line-height: 48px; 
            }
            p{
                color: #425466;
                text-align: center;
                font-family: Graphik;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px; 
            }
        }
        & h2{
            color: #0A2540;
            text-align: center;
            font-family: Graphik;
            font-size: 32px;
            font-style: normal;
            font-weight: 600;
            line-height: 32px;
            text-transform: capitalize;
        }
        &__option-box{
            margin-top: 48px;
            padding: 50px;
            border-radius: 16px;
            border: 1px solid rgba(66, 84, 102, 0.20);
            background: #FFF;
            @media (max-width:425px) {
                padding: 30px;
                margin-top: 24px !important;
                width: 90% !important;
            }
            @media (max-width:375px) {
                padding: 25px 20px;
                margin-top: 24px !important;
                width: 100% !important;
            }
            & img{
                margin: auto 0;
                width: 25px;
                @media (max-width:425px) {
                    width: 18px;
                }
            }
            & p{
                margin: auto 0;
                position: relative;
                top: 1px;
                color: #0A2540;
                font-family: Graphik;
                font-size: 22px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px; 
                margin-left: 16px;
                @media (max-width:425px) {
                    color: #0A2540;
                    font-family: Graphik;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                    margin-left: 12px;
                }
            }
            @media (max-width:425px) {
                width: 80%;
                margin: auto;
            }
        }
        &__option{
            margin-bottom: 32px;
            @media (max-width:425px) {
               margin-bottom: 20px;
            }
        }
        &__last-option{
            top: 8px;
            position: relative;
            p{
            color:#0A2540;
            font-family: Graphik;
            font-size: 20px;
            font-style: normal;
            font-weight: bold;
            line-height: 20px; 
            text-transform: capitalize;
            margin: auto;
            text-align: center;
            @media (max-width:425px) {
                color: #0A2540;
                text-align: center;
                font-family: Graphik;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 24px;
            }
        }
    }
    &__btn{
        color: #FFF;
        text-align: center;
        font-family: Graphik;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        width: 250px;
        padding: 15px 0px;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        background: #39B54A;
        border: none;
        margin-top: 40px;
        @media (max-width:425px) {
            color: #FFF;
            text-align: center;
            font-family: Graphik;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            margin-top: 20px;
            width: 70%;
            padding: 10px 0;
        }
    }
    }