$small_mobile:'(max-width: 767px)';
$large_mobile: 'only screen and (min-width: 480px) and (max-width: 767px)';
$tab_device:'only screen and (min-width: 768px) and (max-width: 991px)';
$desktop: '(min-width: 1281px)';
@media (max-width:1199px) and (min-width:1024px){
    .nav{
        &__bars{
            margin: auto;
            margin-left: 50px;
            background: #39B54A;
            color: #fff;
            padding: 10px 15px;
            border-radius: 4px;
        }
        &__spc-evenly{
            justify-content: space-between !important;
            padding: 15px 50px;
        }
        &__menu{
        }
    }
    .home-bottom-area{
        &__info{
            margin-top: 60px;
            margin-left: auto;
        }
        &__info-box{
            border: 1px solid rgba(66, 84, 102, 0.20);
            margin: auto;
            border-radius: 16px;
            padding: 40px 22px;
            margin-bottom: 60px;
        }
    }
    .foter{
        text-align: center;
        width: 800px;
        height: auto;
        border-radius: 24px;
        background: #F5F6FA;
        position: relative;
        top: 90px;
        z-index: 99;
        & button{
            margin-bottom: 50px;
            height: auto;
            padding: 12px 35px;
        }
    }
    footer{
        background-image: url(../img/foter-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        margin-top: -40px;
        .last-cild{
            padding-top: 204px;
            &__menu{
                margin-left: 75px !important;
            }
            h1{
                color: #FFF;
                text-align: center;
                font-family: Graphik;
                font-size: 28px;
                font-style: normal;
                font-weight: 500;
                line-height: 44px; 
            }
            li{
                list-style: none;
                margin: 30px 31px;
                a{
                    color: #FFF !important;
                    text-align: center;
                    font-family: Graphik;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    text-decoration: none;
                }
            }
            &__menu{
                margin-left: 63.5px;
            }
        }
    }
    .finis-area{
        height: 80px;
        justify-content: space-between;
        align-items: center;
        display: flex !important;
        flex-direction: column;
        p{
            padding-bottom: 20px;

        }
        &__foter-logo{
            img{
                margin-left: 0;
                position: relative;
                padding: 20px 50px;
                background: #fff;
                top: -50px;
                border-radius: 24px;
            }
        }
        p{
            color: #0A2540;
            font-family: Graphik;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px; 
            top: 0px;
            position: relative;
            order: 3
        }
        &__social-link{
            .fb{
                padding: 10px 13px !important;
            }
            .icon{                   
                margin: auto;
                position: relative;
                top: 4px;
                background: #0a25402d;
                margin: 0 8px;
                padding: 10px 11px;
                border-radius: 50%;
                top: -20px;
            &:hover{
                background: #39B54A;
                color: #fff !important;
                fill: currentColor;
            }
            }
        }
    }
}
@media #{$tab_device}{
    .navbar-toggler{
        width: 56px !important;
    }
    .navbar-nav{
        margin: 20px 0;
    }
    nav{
        & .button{
            margin-bottom: 25px;
            margin-left: 0;
            margin-bottom: 25px;
            & button{
                margin: 0;
            }

        }
    }
    .row{
        margin: 0;
    }
    .home-hero-area{
        background-image: url(../img/hero-bg-done.png);
        background-repeat: no-repeat;
        width: 100%;
        background-size: cover;
        &__text-area{
                padding-top: 180px;
                padding-bottom: 191px;
            & h1{
                color: #FFF;
                font-family: Graphik;
                font-size: 64px;
                font-style: normal;
                font-weight: 600;
                line-height: 84px;
            }
            & p{
                color: #fff;
                font-family: Graphik;
                font-size: 22px;
                font-style: normal;
                font-weight: 400;
                line-height: 34px; 
                margin-top: 26px;
                opacity: 0.800000011920929;
            }
        }
        &__trial-btn{
            border-radius: 100px;
            color: #FFF;
            font-family: Graphik;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            width: 260px;
            height: 72px;
            background-color: #39B54A;
            margin-top: 30px;
        }
        &__trial-option{ 
            margin-top: 20px;
        }
        &__trial-txt{
            color: #FFF;
            text-align: center;
            font-family: Graphik;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-left: 6px;
        }
    }
    .home-bottom-area{
        text-align: center;
        & h1{
            color: #0A2540;
            text-align: center;
            font-family: Graphik;
            font-size: 48px;
            font-style: normal;
            font-weight: 500;
            line-height: 64px;
        }
        & p{
            color: #0A2540;
            text-align: center;
            font-family: Graphik;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px;
        }
        margin-top: 130px;
        &__info{
            margin-top: 60px;
            margin-left: auto;
        }
        &__info-box{
            border: 1px solid rgba(66, 84, 102, 0.20);
            width: 369px;
            margin-left: auto;
            margin-right: auto;
            border-radius: 16px;
            padding: 40px 22px;
            margin-bottom: 40px;
            &:hover{
                border: 1px solid #39B54A;
            }
            & h3{
                margin-top: 32px;
                color: #0A2540;
                text-align: center;
                font-family: Graphik;
                font-size: 28px;
                font-style: normal;
                font-weight: 500;
                line-height: 40px;
            }
            & p{
                margin-top: 24px;
                color: #0A2540;
                text-align: center;
                font-family: Graphik;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 33px;
            }
        }
    }
    .foter{
        text-align: center;
        width: 993px;
        height: 471px;
        border-radius: 24px;
        background: #F5F6FA;
        position: relative;
        top: 90px;
        z-index: 999;
        & .foter-titel{
            & img{
                left: 0;
                position: absolute;
                width: 82px;
                top: 128px;
                left: 82px;
            }
        }
        & h1{
            margin-top: 80px;
            color: #0A2540;
            text-align: center;
            font-family: Graphik;
            font-size: 40px;
            font-style: normal;
            font-weight: 500;
            line-height: 60px;
            text-transform: capitalize;
        }
        & p{
            margin-top: 24px;
            color: #0A2540;
            text-align: center;
            font-family: Graphik;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px; 
        }
        & button{
            height: auto;
            padding: 15px 30px;
            justify-content: center;
            align-items: center;
            color: #FFF;
            text-align: center;
            font-family: Graphik;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            border-radius: 1000px;
            background: #39B54A;
            margin-top: 30px;
        }
    }
    footer{
        background-image: url(../img/mobile-ftr-bg.png) !important;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        margin-top: -120px;
        position: relative;
        background-position: top !important;
        .last-cild{
            padding-top: 298px;
            h1{
                color: #FFF;
                text-align: center;
                font-family: Graphik;
                font-size: 28px;
                font-style: normal;
                font-weight: 500;
                line-height: 44px;
            }
            li{
                list-style: none;
                margin: 50px 30px !important;
                width: 100%;
                a{
                    color: #FFF !important;
                    text-align: center;
                    font-family: Graphik;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    text-decoration: none;
                }
            }
            &__menu{
                margin-left: auto;
                ul{
                    margin-right: auto;
                    margin-left: none;
                }
            }
        }
    }
    .finis-area{
        height: 80px;
        justify-content:center !important;
        align-items: center;
        flex-direction: column;
        &__foter-logo{
            & .col-xl-1.offset-xl-1{
                width: auto;
            }
            img{
                margin-left: 0 !important;
                position: relative;
                padding: 20px 50px;
                background: #fff;
                top: 23px !important;
                border-radius: 24px;
            }
        }
        p{
            order: 3;
            color: #0A2540;
            font-family: Graphik;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px; 
            top: 20px !important;
            position: relative;
            padding-bottom: 20px;
        }
        &__social-link{
            margin-top: 45px;
            .fb{
                padding: 10px 13px !important;
            }
            .icon{                   
                margin: auto;
                position: relative;
                top: -15px;
                background: #0a25402d;
                margin-left: 16px;
                padding: 10px 11px;
                border-radius: 50%;
            &:hover{
                background: #39B54A;
                color: #fff !important;
                fill: currentColor;
            }
            }
        }
    }
}
@media #{$large_mobile}{
    .navbar-nav{
        margin: 20px 0;
    }
    nav{
        width: 100%;
        & .button{
            margin-bottom: 25px;
            margin-left: 0;
            margin-bottom: 25px;
            & button{
                margin: 0;
            }

        }
    }
    .home-hero-area{
        height: 100vh;
        &__text-area{
            h1{
                color: #FFF;
                font-family: Graphik;
                font-size: 40px !important;
                font-style: normal;
                font-weight: 600;
                line-height: 50px !important; 
            }
            p{
                color: #FFF;
                font-family: Graphik;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
            }
        }
    }
    .home-bottom-area{
        text-align: center;
        & h1{
            color: #0A2540;
            text-align: center;
            font-family: Graphik;
            font-size: 32px;
            font-style: normal;
            font-weight: 500;
            line-height: 40px;
        }
        & p{
            color: #0A2540;
            text-align: center;
            font-family: Graphik;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
        }
        margin-top: 130px;
        &__info{
            margin-top: 60px;
            margin-left: auto;
        }
        &__info-box{
            border: 1px solid rgba(66, 84, 102, 0.20);
            width: 369px;
            margin-left: auto;
            margin-right: auto;
            border-radius: 16px;
            padding: 40px 22px;
            margin-bottom: 40px;
            }
        }
        .foter{
            height: auto;
            padding-bottom: 30px;
            width: 100%;
            height: auto !important;
            h1{
                color: #0A2540;
                text-align: center;
                font-family: Graphik;
                font-size: 32px;
                font-style: normal;
                font-weight: 500;
                line-height: 44px; 
                text-transform: capitalize;
            }
            p{
                color: #0A2540;
                text-align: center;
                font-family: Graphik;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px; 
            }
            button{
                padding: 10px 35px;
                margin: 20px 0;
            }
        }
    footer{
        background-image: url(../img/mobile-ftr-bg.png) !important;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        margin-top: -120px;
        position: relative;
        padding-bottom: 60px;
        .last-cild{
            padding-top: 298px;
            h1{
                color: #FFF;
                text-align: center;
                font-family: Graphik;
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: 32px;
            }
            li{
                list-style: none;
                margin: 50px 0;
                a{
                    color: #FFF !important;
                    text-align: center;
                    font-family: Graphik;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    text-decoration: none;
                }
            }
            &__menu{
                margin-left: auto;
                & .d-flex{
                    margin: auto;
                    display: flex !important;
                }
                .for-mobile{
                    display: flex !important;
                }
            }
        }
    }
    .finis-area{
        height: auto;
        flex-direction: column;
        &__foter-logo{
            margin-left: 0;
            width: auto;
            img{
                margin: 0;
                margin-top: -10px;
            }
        }
        p{
            order: 3;
            top: 25px;
            padding-bottom: 30px;
        }
    }
    // flex problem- solfed by poperty use flex- wrap
}
@media #{$small_mobile}{
        .navbar-toggler{
            width: 56px !important;
        }
    .navbar-nav{
        margin: 20px 0;
    }
    nav{
        width: 100%;
        & .button{
            margin-bottom: 25px;
            margin-left: 0;
            margin-bottom: 25px;
            & button{
                margin: 0;
            }

        }
    }
    .home-hero-area{
        background-image: url(../img/mobile-hero-bg.png) !important;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        &__text-area{
            padding-top: 85px !important;
            margin-top: 48px;
            padding-bottom: 0;
            & h1{
                color: #FFF;
                font-family: Graphik;
                font-size: 40px !important;
                font-style: normal;
                font-weight: 600;
                line-height: 50px !important; 
            }
            & p{
                color: #FFF;
                font-family: Graphik;
                font-size: 17px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                width: 80%;
            }
           & button{
                margin-top: 2px;
                width: auto;
                height: auto;
                padding: 10px 22px;
            }
            img{
                width: 28%;
                position: absolute;
                left: 12px;
                margin-top: -11px;
            }
        }
        &__trial-option{

        }
        &__trial-check-box{
            top: 0;
        }
        &__trial-txt{
            width: 54%;
            margin-left: 6px !important;
            text-align: start;
        }
        .form-check .form-check-input{
            margin-left: -1rem !important;
        }
    }
    .home-bottom-area{
        text-align: center;
        & h1{
            color: #0A2540;
            text-align: center;
            font-family: Graphik;
            font-size: 32px !important;
            font-style: normal;
            font-weight: 500;
            line-height: 40px !important;
        }
        & p{
            color: #0A2540;
            text-align: center;
            font-family: Graphik;
            font-size: 16px !important;
            font-style: normal;
            font-weight: 400;
            line-height: 24px !important;
        }
        margin-top: 130px;
        &__info{
            margin-top: 60px;
            margin-left: auto;
        }
        &__info-box{
            border: 1px solid rgba(66, 84, 102, 0.20);
            width: 369px;
            margin-left: auto;
            margin-right: auto;
            border-radius: 16px;
            padding: 40px 22px;
            margin-bottom: 40px;
            }
        }
        .foter{
            height: auto;
            padding-bottom: 30px;
            width: 90%;
            height: auto !important;
            & .foter-titel{
                & img{
                    left: 0;
                    position: absolute;
                    width: 82px;
                    top: 118px;
                    left: 40px;
                }
            }
            h1{
                color: #0A2540;
                text-align: center;
                font-family: Graphik;
                font-size: 32px;
                font-style: normal;
                font-weight: 500;
                line-height: 44px; 
                text-transform: capitalize;
            }
            p{
                color: #0A2540;
                text-align: center;
                font-family: Graphik;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px; 
            }
            button{
                padding: 10px 35px !important;
                margin: 20px 0;
            }
        }
    footer{
        background-image: url(../img/mobile-ftr-bg.png) !important;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        margin-top: -120px;
        position: relative;
        padding-bottom: 60px;
        .last-cild{
            padding-top: 298px;
            &__home-menu{
                margin-top: 30px;
                margin-bottom: 50px;
            }
            h1{
                color: #FFF;
                text-align: center;
                font-family: Graphik;
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: 32px;
            }
            li{
                list-style: none;
                margin: 50px 8px !important;
                @media (max-width:321px) {
                    margin: 10px 0 !important;
                    width: 74px;
                }
                a{
                    color: #FFF !important;
                    text-align: center;
                    font-family: Graphik;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    text-decoration: none;
                }
            }
            &__home-menu{
                margin-left: auto;
                & .d-flex{
                    margin: auto;
                }
                .for-mobile{
                    display: flex !important;
                    @media (max-width:321px) {
                        display: grid !important;
                        grid-template-columns: 1fr 1fr auto;
                    }
                }
            }
        }
    }
    .finis-area{
        height: auto;
        flex-direction: column;
        justify-content: center !important;
        &__foter-logo{
            margin-left: 0;
            width: auto;
            img{
                margin-left: 0 !important;
                margin-top: 62px;
                top: 0 !important;
            }
        }
        p{
            order: 3;
            top: 25px;
            padding-bottom: 30px;
        }
        &__social-link{
            margin-top: 40px;
        }
        p{
            margin-top: 20px;
        }
    }
}