$small_mobile:'(max-width: 767px)';
$large_mobile: 'only screen and (min-width: 480px) and (max-width: 767px)';
$tab_device:'only screen and (min-width: 768px) and (max-width: 991px)';
$desktop: '(min-width: 1281px)';
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import "responsive";
@import "smart-page2";
@import "page2";
@import "page2responsive";
@import "page3";
@import "page4";
.row{
    margin: 0;
}
.container{
    @media (min-width:1400px) {
        max-width: 1320px;
    }
}
.bg-dark{
    background-color: white !important;
}
.nav-item{
    margin: 0 15px;
}
.navbar-dark .navbar-nav .nav-link.active{
    color: #0A2540;
}
nav{
    & .navbar-toggler {
        border-color: green !important;
        & .navbar-toggler-icon{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='green' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
}
& .button{
    margin: auto 0;
    margin-left: 30px;
    @media (max-width:426px) {
            margin-left: 0 !important;
            button{
                margin-bottom: 25px !important;
            }

    }
    @media (max-width:1024px) {
        margin-left: 0;
    }
    & .sign-in{
        background: transparent;
        color: #0a2540;
        border: 1.5px solid rgba(10,37,64,.15);
        padding: 10px 23px;
        top: 1px;
        position: relative;
        &:hover{
            background-color: #FFF !important;
            color: black !important;
        }
    }
    & a{
        color: black;
        border-radius: 30px;
        margin: 0 10px;
        padding: 7px 20px;
        border: 1px solid #0a25404f;
        border-radius: 1000px;
        text-decoration: none;
        cursor: pointer;
    }
}
}
.home-hero-area{
    background-image: url(../img/hero-bg-done.png);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    height: 100vh;
    @media (max-width:375px) and (min-width:320px) {
        height: 650px;
    }
    &__text-area{
            padding-top: 180px;
            padding-bottom: 191px;
        & h1{
            color: #FFF;
            font-family: Graphik;
            font-size: 64px;
            font-style: normal;
            font-weight: 600;
            line-height: 84px;
        }
        & p{
            color: #fff;
            font-family: Graphik;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: 34px; 
            margin-top: 26px;
            opacity: 0.800000011920929;
            @media (max-width:425px) {
                margin-top: 20px;
                font-size: 16px;
                line-height: 24px;
            }
        }
        button{
            padding: 7px 25px;
            font-size: 18px;
        }
    }
    &__trial-btn{
        border-radius: 100px;
        color: #FFF;
        font-family: Graphik;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        width: 220px;
        height: 60px;
        background-color: #39B54A;
        margin-top: 30px;
    }
    &__trial-option{ 
        display: flex;
        margin-top: 20px;
    }
    &__trial-check-box{
        top: 1px;
        position: relative;
    }
    &__trial-txt{
        vertical-align: bottom;
        color: #FFF;
        font-family: Graphik;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 10px;
        margin-top: 6px;
    }
}
.home-bottom-area{
    text-align: center;
    @media (max-width:426px) {
        margin-top: 0;
    }
    &__titel{
        @media (max-width:375px) and (min-width:350px) {
            margin-top: 50px;
         }
    }
    & h1{
        color: #0A2540;
        text-align: center;
        font-family: Graphik;
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: 64px;
    }
    & p{
        color: #0A2540;
        text-align: center;
        font-family: Graphik;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
    }
    margin-top: 130px;
    &__info{
        margin-top: 60px;
    }
    &__info-box{
        border: 1px solid rgba(66, 84, 102, 0.20);
        margin-bottom: 60px;
        border-radius: 16px;
        padding: 40px 22px;
        flex-basis: 31.7%;
        margin: 10px;
        &:hover{
            border: 1px solid #39B54A;
        }
        @media (max-width:425px) {
            padding: 20px 10px;
        }
        & h3{
            margin-top: 32px;
            color: #0A2540;
            text-align: center;
            font-family: Graphik;
            font-size: 28px;
            font-style: normal;
            font-weight: 500;
            line-height: 40px;
            @media (max-width:425px) {
                margin-top: 20px;
            }
        }
        & p{
            margin-top: 24px;
            color: #0A2540;
            text-align: center;
            font-family: Graphik;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 33px;
            @media (max-width:425px) {
                margin-top: 10px;
            }
        }
        @media (max-width:1399px) and (min-width:1024px) {
            flex-basis: 31%;
        }
        @media (max-width:768px) {
            flex-basis: 80%;
            margin: auto;
            margin-bottom: 40px !important;
        }
        @media (max-width:425px) {
            flex-basis: 100%;
            margin: auto;
            margin-bottom: 40px !important;
            img{
                width: 35%;
            }
        }
    }
}
.foter{
    text-align: center;
    width: 100%;
    height: 471px;
    border-radius: 24px;
    background: #F5F6FA;
    position: relative;
    top: 90px;
    z-index: 99;
    & .foter-titel{
        & img{
            left: 0;
            position: absolute;
            width: 82px;
            top: 130px;
            left: 193px;
            @media #{$tab_device} {
                left: 68px;
            }
            @media (max-width:425px) {
                left: 47px;
                top: 119px;
            }
        }
    }
    & h1{
        margin-top: 80px;
        color: #0A2540;
        text-align: center;
        font-family: Graphik;
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: 60px;
        text-transform: capitalize;
    }
    & p{
        margin-top: 24px;
        color: #0A2540;
        text-align: center;
        font-family: Graphik;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px; 
    }
    & button{
        height: 55px;
        justify-content: center;
        align-items: center;
        color: #FFF;
        text-align: center;
        font-family: Graphik;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        border-radius: 1000px;
        background: #39B54A;
        margin-top: 30px;
        @media (max-width:425px) {
            margin-top: 5px;
        }
    }
    footer{
        background-image: url(../img/foter-bg.png) !important;
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 383px;
        .footer-last-child{
            text-align: center !important;
            &__menu{
                padding-bottom: 50px;
            }
        & h1{
            color: #FFF;
            text-align: center;
            font-family: Graphik;
            font-size: 28px;
            font-style: normal;
            font-weight: 500;
            line-height: 44px;
            }
        }
    }
}
footer{
    background-image: url(../img/foter-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-top: -120px;
    position: relative;
    padding-bottom: 50px;
    .last-cild{
        padding-top: 298px;
        h1{
            color: #FFF;
            text-align: center;
            font-family: Graphik;
            font-size: 28px;
            font-style: normal;
            font-weight: 500;
            line-height: 44px;
            margin: auto;
        }
        li{
            list-style: none;
            margin: 50px 41px;
            text-align: center;
            @media (max-width:1024px) {
                margin: auto;
                margin-top: 50px;
                margin-bottom: 50px;
            }
            a{
                color: #FFF !important;
                text-align: center;
                font-family: Graphik;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                text-decoration: none;
                @media (max-width:375px) {
                    font-size: 14.5px !important;
                }
                @media (max-width:325px) {
                    font-size: 13px !important;
                }
            }
        }
        &__home-menu{
            margin-left: none;
            padding: 0 200px;
            @media (max-width:1024px) {
                padding: 0 80px; 
            }
            @media #{$tab_device} {
                padding: 0;
            }
            @media (max-width:425px) {
                padding: 0; 
            }
                & .for-mobile .d-flex{
                    @media (max-width:426px) {
                }
            }
        }
    }
}
.finis-area{
    height: 80px;
    justify-content: space-between;
    align-items: center;
    &__foter-logo{
        img{
            margin-left: -187px;
            position: relative;
            padding: 20px 50px;
            background: #fff;
            top: -38px;
            border-radius: 24px;
        }
    }
    p{
        color: #0A2540;
        font-family: Graphik;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px; 
        top: 5px;
        position: relative;
        text-align: center;
    }
    &__social-link{
        .fb{
            padding: 10px 13px !important;
        }
        .icon{                   
            margin: auto;
            position: relative;
            top: 0px;
            background: #0a25402d;
            margin-left: 16px;
            padding: 10px 11px;
            border-radius: 50%;
        &:hover{
            background: #39B54A;
            color: #fff !important;
            fill: currentColor;
        }
        }
    }
}